
/**************************************
***********STACK HOME***************
***************************************
1.STACK HOME ITEM
**************************************/


.home-stack {
	background-color: #F6F6F8;
	position: relative;
	padding: 10px 0 30px 0;
}

@media (min-width: 420px) {

	.home-stack-inner {
		overflow-x: hidden;
		position: relative;
		height: 500px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;

	}

}

@media (max-width: 419px) {

	.home-stack-inner {
		overflow-x: hidden;
		position: relative;
		height: 300px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		gap:40px;
		padding: 60px 0;
	}

}

.wrapper-conteiner {
	white-space: nowrap;
	position: inherit;
	display: flex;
}

.wrapper-conteiner-stack {
	position: relative;
	display: inline-block;
}

.wrapper-conteiner:last-child .wrapper-conteiner-stack:first-child {
	z-index: 2;
}

.wrapper-conteiner:last-child .wrapper-conteiner-stack:last-child {
	z-index: 1;
}

.wrapper-conteiner-stack-inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: end;
	align-content: center;
	width: 2690px;
	margin-left: 30px;
	gap: 30px;
}

.wrapper-conteiner-stack-inner::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left:-20px;
	right: -20px;
	height: 60px;
	background: repeating-linear-gradient(
		45deg,
		#ccc,
		#ccc 10px,
		#d6d7db 10px,
		#d6d7db 20px
	);
}

.wrapper-conteiner-stack-inner::after {
	content: "";
	position: absolute;
	bottom: -24px;
	left:-20px;
	right: -20px;
	height: 4px;
	background: #bbb;
}

.home-stack-conteiner-item {
	position: relative;
	width: 180px;
	outline:1px solid #ccc;
	padding: 12px 10px 10px 10px;
	background-color: #fff;
	background-repeat: repeat;
}

.home-stack-conteiner-item::before {
	content: "";
	position: absolute;
	bottom:calc(100% - 0px);
	left:-8px;
	width: calc(100% - 0px);
	height: 16px;
	background-color: #fff;
	outline: 1px solid #ccc;
	transform: skewX(45deg);
}

.home-stack-conteiner-item::after {
	content: "";
	position: absolute;
	bottom: 7px;
	right:calc(100% - 0px);
	width: 16px;
	height: 100%;
	transform: skewY(45deg);
	outline: 1px solid #ccc;
	background-color: #fff;
}

.home-stack-conteiner-item img {
	filter: grayscale(80%);
	opacity: .7;
    width: 100%;
    height: auto;
}




